<li role="presentation" class="dropdown">
  <a href="#<%= value %>" data-toggle="collapse">> <%= value %></a>
  <div id="<%= value %>" class="collapse">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="filter in <%= value %>">
        <a href="<%= rediect_filter value, '{{filter.id}}' %>">{{filter.name}}</a>
      </li>
    </ul>
  </div>
</li>
