<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Filter<h3></div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="optradio" value="male" ng-model="search.sex"><%= t ".sex.male" %></label>
          <label class="radio-inline"><input type="radio" name="optradio" value="female" ng-model="search.sex"><%= t ".sex.female" %></label>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1"><%= t ".select_brand" %></label>
          <select class="form-control" id="sel1" ng-model="search.brand.name">
            <option ng-repeat="brand in brands">{{brand.name}}</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1"><%= t ".select_type" %></label>
          <select class="form-control" id="sel1" ng-model="search.type.name">
            <option ng-repeat="type in types">{{type.name}}</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1"><%= t ".select_media_art" %></label>
          <select class="form-control" id="sel1" ng-model="search.media_art.name">
            <option ng-repeat="media_art in media_arts">{{media_art.name}}</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel"><%= t ".min_price" %></label>
          <select class="form-control" id="sel1" ng-model="filterModelMin.price">
            <% Product::PRICE_RANGE.each do |price| %>
              <option><%= price %></option>
            <% end %>
          </select>
          <label for="sel"><%= t ".max_price" %></label>
          <select class="form-control" id="sel2" ng-model="filterModelMax.price">
            <% Product::PRICE_RANGE.each do |price| %>
              <option><%= price %></option>
            <% end %>
          </select>
        </div>
      </li>
    </ul>
  </div>
</div>
